/* Universal selector- select everything */
*{
    color: blue;
}

/* Element selector */
p{
    font-size: 200%;
}
div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* class selector */
.class{
    text-align: center;
}

/* id selector */
#id{
    text-align: center;
}

/* group selector */
h1,p{
    text-decoration: underline;
}

/* Adjacent Sibling Selector (+): Styles an element immediately following another .For example, making the first h2 colored after an p */
p+h2{
    color: black;
}

/*General Sibling Selector (~): Styles all siblings that follow a specific element. For example, italicizing all h2 following an p. */
p~h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}