/* 1. background color */
.class4_1{
    background-color: #97f1d9;
}


/* 2. background gradient */ 
.class4_2{
    background:linear-gradient(to right, #eda987, #d4181b);
} 


/* 3. background image */
.class4_3{
    background-image: url(/Media/Images/image1.jpg);
    background-size: cover;
}


/*4. repeat background-
background-repeat: repeat-x || repeat-y || repeat || no-repeat; */