/*1. text decoration using line  */
.class6_1{
    text-decoration-line: overline;
}
.class6_2{
    text-decoration-line: underline ;
}
.class6_3{
    text-decoration-line: line-through;
}
.class6_4{
    text-decoration-line: underline overline line-through;
}
/* we can use-
text-decoration-line
text-decoration-color
text-decoration-style
text-decoration-thickness
text-decoration
-all of this.... */


/*2. text transform */
.class6_5 {
    text-transform: uppercase;
}
.class6_6 {
    text-transform: lowercase;
}
.class6_7 {
    text-transform: capitalize;
}
.class6_8 {
    text-transform: none;
}


/* 3. text shadow  */
.class6_9{
    text-shadow: 2px 2px 5px red ;
    /* horizontal-vertical-blur-color */
}



/*4. text align */
#id6_1{
    text-align: center;
}
#id6_2{
    text-align: end;
}
#id6_3{
    text-align: justify;  
    /* When the text-align property is set to "justify", each line is stretched so that every line has equal width, and the left and right margins are straight (like in magazines and newspapers): */
}
/* also- text-align:right or, left */


/* 5. text spacing  */
#id6_4{
    text-indent: 50px;
}
#id6_5 {
    letter-spacing: 2px;
  } 
#id6_6 {
    letter-spacing: -2px;
  }
#id6_7 {
    line-height: 3;
  }
#id6_8 {
    word-spacing: 10px;
  } 

