/*1. font family */
.class7_1 {
    font-family: Tahoma, Verdana, sans-serif;
}
/* The following list are the best web safe fonts for HTML and CSS:
Arial (sans-serif)
Verdana (sans-serif)
Tahoma (sans-serif)
Trebuchet MS (sans-serif)
Times New Roman (serif)
Georgia (serif)
Garamond (serif)
Courier New (monospace)
Brush Script MT (cursive) */
    

/* 2.font style  */
.class7_2{
    font-style: italic;
    font-weight: bold;
}
.class7_3{
    font-variant: small-caps; 
}


/* 3. font size  */
.class7_4{
    font-size: 20px;
}

